body {
  background: black;

  width: 100dvw;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

:root {
  /* BACKGROUNDS */
  --background-header-main-footer: rgb(7, 54, 66);
  --background-image-header-footer: radial-gradient(
    circle,
    white,
    rgba(0, 228, 255, 0.6)
  );
  --background-image-main: linear-gradient(
    to left,
    white,
    rgba(0, 178, 255, 0.5)
  );
  --background-card: rgb(240, 240, 220);

  /* BORDERS */
  --silver-borders-header-footer: 0.44rem solid rgb(188, 188, 188);
  --silver-borders-nav-butt: 0.16rem solid rgb(148, 148, 148);
  --silver-borders-card: 0.12rem solid rgb(128, 128, 128);
  --silver-borders-image: 0.12rem solid rgb(148, 148, 148);

  /* SHADOWS */
  --shadows-header: inset 0 -0.2rem 0.3rem 0.1rem;
  --shadows-footer: inset 0 0.2rem 0.3rem 0.1rem;
  --shadows-nav-butt: inset 0 0 0.4rem 0.2rem, 0 0 0.2rem 0.1rem;

  --shadows-main: inset 0 -0.2rem 0.3rem, inset 0 0.2rem 0.3rem;
  --shadows-card: inset 0 0 0.2rem 0.1rem, 0 0 0.1rem 0.1rem;
  --shadows-image: 0 0 0.1rem 0.1rem;

  /* SIZES */
  --heights-header-footer: 17%;
  --height-main: 66%;
}
