main {
  background-color: var(--background-header-main-footer);
  background-image: var(--background-image-main);

  box-shadow: var(--shadows-main);

  width: 100%;
  height: var(--height-main);

  display: flex;
  align-items: center;
  justify-content: start;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  white-space: nowrap;
}
