footer {
  background-color: var(--background-header-main-footer);
  background-image: var(--background-image-header-footer);

  border-top: var(--silver-borders-header-footer);

  box-shadow: var(--shadows-footer);

  width: 100%;
  height: var(--heights-header-footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
